header {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  background-color: $intro-mail-bg;
  grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
  padding: 25px 20px 50px 20px;

  @include breakpoint('large'){
    padding: 75px 80px;
    grid-gap: 56px;
  }

  img {
    width: 83px;
    
    @include breakpoint('large'){
      width: 185px;
    }
  }

  a {
    font-size: .875rem;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $cta2;
    }  

    @include breakpoint('large'){
      font-size: 1rem;
    }
  }
}