// Fonts
$font-body: 'Open Sans', sans-serif;
$font-titles: 'Raleway', sans-serif;

// Colors
$intro-mail-bg: #1c2431;
$main-bg: #181f2a;
$footer-bg: #0b1523;
$testimony-bg: #202a3c;
$cta1: #65e2d9;
$cta2: #339ecc;
$error-red: #ff4242;
$white: #ffffff;
$black: #000000;

// Borders
$border-radius: 10px;
$border-radius-circle: 30px;
